<style>
  .container {
    width: 800px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
  }

  .value {
    padding: 10px;
    background: #8257e6;
    color: white;
    border-radius: 6px;
    width: 15px;
    text-align: center;
    text-decoration: none;
  }

  .level {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 350px;
  }

  .answers {
    width: 350px;
    display: flex;
    justify-content: space-between;
  }

</style>

<div class="container">
  <label>Olá <strong>{{name}}</strong>! Tudo bem?</label>

  <h3>{{title}}</h3>
  <br/>
  <strong>{{description}}</strong>

  <div class="level">
    <span>Pouco provável</span>
    <span>Muito provável</span>
  </div>

  <div class="answers">"value"
    <a class="value" href="">1</a class="value">
    <a class="value" href="">2</a class="value">
    <a class="value" href="">3</a class="value">
    <a class="value" href="">4</a class="value">
    <a class="value" href="">5</a class="value">
    <a class="value" href="">6</a class="value">
    <a class="value" href="">7</a class="value">
    <a class="value" href="">8</a class="value">
    <a class="value" href="">9</a class=>
    <a class= href="">10</a>
  </div>

  <br/><br/>

  

</div>